VITE_SUPABASE_URL=https://mubelftamlabgyjhbfpa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11YmVsZnRhbWxhYmd5amhiZnBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwMTc3MTQsImV4cCI6MjA4ODU5MzcxNH0.7m2n3s-ygfwjh-ReE-Wbwkr8qjbCFbMnrFgMyt6rh40
